* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #ff86a7;
    padding-bottom: 6%;
}

#header {
    display: flex;
    padding: 8% 0% 10% 0%;
}

#header > img {
    width: 30%;
    display: flex;
    align-items: flex-start;
    margin-left: 2.5%;
}

#text_header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 6%;
}

#text_header > h1 {
    color: #000000;
    font-size: 500%;
    font-family: "Cinzel Decorative", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 5%;
}

#text_header > h2 {
    font-family: "Corinthia", serif;
    font-optical-sizing: auto;
    font-weight: 1;
    font-style: italic;
    color: #570022;
    font-size: 600%;
    margin-top: -4%;
    margin-left: -2%;
    letter-spacing: 10px;
}

#section_header {
    padding: 4% 10% 4% 10%;
    margin: -2% 6% 4% 6%;
    background-color: #570022;
    opacity: 90%;
}

#section_frames {
    background-color: #20001F;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 4%;
}

.frame_produto {
    background-color: #ff86a7;
    margin: 1%;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    cursor: pointer;
    width: 40%; /* Mantém a largura total do container */
    max-width: 48%; /* Define uma largura máxima para o card */
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding-top: 1%;
}


.img_frame{
    width: 90%;  
    margin-top: 2%;
}

.text_frame {
    text-align: justify;
    margin: 10px; /* Ajuste as margens para evitar cortes */
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-style: normal;
    flex-grow: 1; /* Permite que o texto ocupe o espaço restante */
    max-width: 88%; /* Limita a largura do texto à largura da imagem */
    width: 100%; /* Garante que o texto ocupe toda a largura disponível */
    font-size: 120%;
}

.frame_produto:hover {
    transform: scale(1.05); /* Efeito de hover mais sutil */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.frame_produto.slide {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.leFadeInRight {
    animation-name: leFadeInRight;  
}

@keyframes leFadeInRight {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
    to {
        opacity: 1;
    }
}

.leFadeInLeft span { animation-name: leFadeInLeft }
@keyframes leFadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to { opacity: 1 }
}


#flor{
    position: absolute;
    top: 70%;
    left: -1%;
    width: 50%;
    transform: rotate(-10deg);
}

#flor-invertida{
    position: absolute;
    top: 74%;
    right: -1%;
    left: 50%;
    width: 50%;
    transform: rotate(10deg);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#t1-section-header{
    font-size: 3rem;
    font-family: "Cinzel Decorative", serif;
    color:#ffffff;
    margin-bottom: 2%;
    text-transform: uppercase;
    letter-spacing: 8px;
}

#p-section-header{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color:#ff86a7;
    text-align: justify;
}

b{
    color: #ffffff;
}

#section_header:hover{
    transition: 0.3s;
    background-color: #6d012a;
}

.slider__nav__button:hover{
    transition: 0.1s;
    transform: scale(1.1);
}

#section_section{
    background-color: #ff86a7;
    padding: 6%;
}

#div_section_info{
    display: flex;
    justify-content: space-around;
}

#div-section-1{
    margin-right: 10%;
}

#div-section-1>img{
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#div-section-2{
    padding: 1%;
    background-color: #1E1E1E;
    width: 70%;
}

#div-section-2>h2{
    margin: 12% 0 6% 0;
    font-size: 1.5rem;
    font-family: "Cinzel Decorative", serif;
    color:#ffffff;
    text-transform: uppercase;
}

#div-section-2>p{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color:#ff86a7;
    text-align: justify;
    padding: 6%;
}

#t1-section-header:hover{
    transition: 0.3s;
    transform: scale(1.08);
}

#div-section-3{
    background-color: #570022;
    margin-top: 6%;
    padding: 1% 4% 1% 4%;
    display: flex;
    justify-content: space-between;
}

#div-section-3-1>h2{
    color:#ff86a7;
    font-family: "Cinzel Decorative", serif;
    font-size: 2rem;
    margin-bottom: 4%;
    margin-top: 10%;

}

#div-section-3-1>p{
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    color:#ff86a7;
    text-align: justify;
    padding: 6%;
}

#div-section-3>img{
    width: 55%;
    margin-right: -8%;
    margin-top: 2%;
}

footer{
    background-color: #20001F;
    padding: 8% 4% 4% 4%;
}

#footer{
    display: flex;
    justify-content: space-between;
}

.img-footer{
    background-color:#ff86a7;
    padding: 8%;
    border-radius: 50%;
    margin-bottom: 30%;
    width: 100%;
}

.img-footer>img{
    width: 95%;
}

#footer-1{
    display: flex;
    justify-content: flex-start;
}

#logo_redessociais{
    display: flex;
    flex-direction: column;
    width: 8%;
}

#loc_footer>iframe{
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#redessociais{
    margin-left: 4%;
}

#redessociais>p{
    background-color: #ffffff;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 23%;
    padding: 4%;
    width: 200%;
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
}

#end{
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    top: 595%;
    width: 40%;
    left: 4.5%;
    text-align: justify;
    padding: 6% 4% 6% 4%;
}

#end>h2{
    color: #570022;
}